/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body {
	background-color: #303030;

    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: lighter;
}

#top_background {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #0D0D0D;
	z-index: 100;
}

#footer {
	position: fixed;
	color: white;
	bottom: 0;
	width: 100%;
	padding-bottom: 0.2em;
	background-color: #0D0D0D;

	text-align: center;
	z-index: 100;
}

#top_menu {
	font-size: 2em;
	text-align: center;
	margin: auto;
	width: 45%;
}

	#top_menu a:link, a:visited, a:active {
		text-decoration: none;
		color: white;
	}

	#top_menu a:hover {
		text-decoration: underline;
		color: #E6E6E6;
	}

	#top_menu li {
		display: inline;
	}

.strip_t {
	height: 0px;
	background-color: #FF9640;
	margin-top: 5px;
}
.strip_b {
	height: 0px;
	background-color: #FF9640;
	margin-bottom: 0.2em;
}

#content_background {
	padding-bottom: 1em;
	margin-top: 2em;
	height: 100%;
	padding-bottom: 1em;
}

	#content {
		margin: auto;
		background-color: white;
		width: 45%;
		font-size: 1.7em;
		text-align: left;
		color: #4A4A4A;
		padding-bottom: 1em;
	}

#hello {
	font-size: 3em;
	text-align: center;
	padding: 1em 0;
}

.separator {
	display: inline;
	margin: 1em;
	clear: both;
}

.vertical_spacer {
	display: block;
	margin: 1em;
}

.h {
	width: 20%;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	font-size: 1.2em;
	padding-right: 1em;
}

.h h1 {
	font-family: "Palatino Linotype";
	color: black;
	font-style: italic;
}

.t {
	display: table-cell;
	line-height: 1.2em;
	padding-right: 2em;
	letter-spacing: 2px;
}

.section {
	margin-bottom: 2em;
	display: table;
}
img {
	float: left;
	margin-right: 2%;
}

p {
	padding: 0.5em 0;
}

/** CSS by Radoslaw Polczyk **/